<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>USA tourist spot info verifier</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .text-white {
      color: white;
    }
    .con {
      position: relative;
      top: 240px;
    }
  </style>
  <body style="background-color: black">
    <div class="container con">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white" style="font-size: 50px">Verify your information</h1>
          <form action="/usa_info_vari" method="post">
            <input name="user_input" type="text" class="form-control" /><br />
            <input type="submit" class="btn btn-lg btn-warning" />
          </form>
          <br /><br />

          <h3 style="color: white">{{ prediction_text }}</h3>
        </div>
      </div>
    </div>
  </body>
</html>
